<%layout('layouts/boilerplate')%>;
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        
        <form action="/campgrounds" class="validated-form" method="POST" novalidate enctype="multipart/form-data">
         <div class="mb-3">
             <label for="title" class="form-label">title </label>
             <input type="text" class="form-control" id="title" name="campground[title]" required>
             <div class="valid-feedback">
                Looks good!
              </div>
         </div>
      
         <div class="mb-3">
           <label for="location"  class="form-label">location</label>
           <input type="text" class="form-control" id="location" name="campground[location]" required>
           <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        
        
        <div class="mb-3">
            <label for="image-price"  class="form-label">price</label>
           <input type="text" class="form-control" id="image-price" name="campground[price]" required>
           <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
            <label for="description"  class="form-label">description</label>
          
           <textarea name="campground[description]" class="form-control" id="description" type="text" required></textarea>
           <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
        <div class="input-group mb-3">
          <input type="file" class="form-control" name="image" id="image" multiple>
          
        </div>
       
       
       
        <button class="btn btn-success mb-5">Add campground</button>
       </form>
    </div>
</div>


